[Desktop Entry]
Name=SuperTuxKart
Comment=An enhanced version of TuxKart
Comment[pl]=SuperTuxKart - ulepszona wersja gry TuxKart
Icon=supertuxkart_32.xpm
Exec=supertuxkart
Terminal=false
Type=Application
Categories=Game;X-RacingGame;
# vi: encoding=utf-8
